body{
    display: flex;
    flex-direction: column;
    padding-left: 20vw;
    padding-right: 20vw;
    align-items:center;
}

.buttonGroup{
    display:flex;
    flex-direction:column;
}

.centerblock{
    display:flex;
    justify-items: center;
    align-content: center;
    flex: auto;
}

.leftButtons{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 800px;
    border: black solid;
}

.drawingBox{
    display:flex;
    border: black solid;
    width: 800px;
    height: 800px;
    flex: auto;
}

button{
    width: 200px;
    height: 100px;
    margin-top: 25px;
}

.gridColumn{
    display:flex;
    flex-direction: column;
    flex: auto;
}

.gridCells{
    flex:auto;
    transition-delay: -1s;
    transition-property: background-color;
    transition-duration: 4s;
}

.gridCells:hover{
    background-color: lightgray;
    transition-property: background-color;
}
